<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../assets/css/styl.css">
	<title>Leer Cookies Soliasq</title>
</head>
<body>
	<div class="wrapper-cookies">
	<div class="leer-cookies">
		<p class="titulo-cookies">
			Información sobre cookies
		</p>
		<p class="sub-titulo-cookies">
			Qué son las cookies y por qué las utilizamos en las webs de Soliasq</p>
		<p class="parrafo-cookies">Una cookie es un fichero que se descarga en el dispositivo del usuario al acceder a determinadas páginas web para almacenar y recuperar información sobre la navegación que se efectúa desde dicho equipo.</p>
		<p class="parrafo-cookies">
			Las cookies permiten a dicha web, entre otras cosas, almacenar y recuperar información sobre las decisiones y hábitos del usuario. En Soliasq las utilizamos para personalizar la experiencia dentro de nuestras webs, identificar y recordar al usuario registrado, facilitar la navegación, así como personalizar las campañas publicitarias que se pudieran mostrar durante la navegación.
		</p>
		<p class="parrafo-cookies">
			Es importante destacar que el uso de cookies no proporciona datos personales del usuario, que de cara a Soliasq permanece anónimo.<br>
El usuario puede configurar su navegador para no aceptar el uso de cookies, en cuyo caso la personalización de la experiencia no se aplicaría, aunque sí podrá seguir accediendo a los contenidos de nuestras webs con normalidad.
		</p>
		<p>
			En la página de Wikipedia <a href="https://es.wikipedia.org/wiki/Cookie_(inform%C3%A1tica)" target="_blank" class="enlace-cookies"> Leer más sobre Cookies</a> es posible obtener más información acerca de qué son las cookies y cómo funcionan.
		<p class="sub-titulo-cookies">Qué tipo de cookies utilizan las webs de Soliasq.</p>	

		</p>
		<p class="parrafo-cookies">
			Las Cookies, en función de su permanencia, pueden dividirse en Cookies de sesión o permanentes. Las primeras expiran cuando el usuario cierra el navegador. Las segundas expiran en función cuando se cumpla el objetivo para el que sirven (por ejemplo, para que el usuario se mantenga identificado en las webs y servicios de Soliasq) o bien cuando se borran manualmente.
Adicionalmente, en función de su objetivo, las Cookies pueden clasificarse de la siguiente forma:
Cookies de rendimiento: este tipo de Cookie recuerda sus preferencias para las herramientas que se encuentran en los servicios, por lo que no tiene que volver a configurar el servicio cada vez que usted visita. A modo de ejemplo, en esta tipología se incluyen:
Ajustes de volumen de reproductores de vídeo o sonido.
		</p>
		<p class="sub-titulo-cookies">
		Las velocidades de transmisión de vídeo que sean compatibles con su navegador.	
		</p>
		<p class="parrafo-cookies">
			Cookies de geolocalización: estas Cookies son utilizadas para averiguar en qué país se encuentra cuando se solicita una web o servicio. Esta Cookie es totalmente anónima, y sólo se utiliza para ayudar a orientar el contenido a su ubicación, como por ejemplo a efectos de idioma.<br> En ningún caso registramos la ubicación exacta desde donde nos estés visitando ni tampoco guardamos información de geolocalización de tus dispositivos.
		</p>
		<p class="parrafo-cookies">Cookies de registro: las Cookies de registro se generan una vez que el Usuario se ha registrado o posteriormente ha abierto su sesión, y se utilizan para identificarle en las web y servicios con los siguientes objetivos:<br>
Mantener al usuario identificado de forma que, si cierra un servicio o web, el navegador o el ordenador y en otro momento u otro día vuelve a entrar en dicho servicio o web, seguirá identificado, facilitando así su navegación sin tener que volver a identificarse. Esta funcionalidad se puede suprimir si el usuario pulsa la funcionalidad “Salir”, de forma que esta Cookie se elimina y la próxima vez que entre en la web el usuario tendrá que iniciar sesión para estar identificado.
			
		</p>
		<p class="sub-titulo-cookies">
			Comprobar si el usuario está autorizado para acceder a ciertos servicios, por ejemplo para participar en un concurso o escribir comentarios.
		</p>
		<p class="parrafo-cookies">
			Adicionalmente, algunos servicios pueden utilizar conectores de terceros tales como Facebook, Twitter o Google. Cuando el usuario se registra en un servicio con credenciales de una red social o sistema de identificación de terceros, autoriza al mismo a guardar una cookie persistente que recuerda su identidad y le garantiza acceso a la web hasta que expira. El usuario puede borrar esta cookie y revocar el acceso a la web mediante redes sociales o sistema de identificación de terceros actualizando sus preferencias en la red social que específica.<br>
Cookies de analítica: cada vez que un Usuario visita una Web o Servicio, una herramienta de un proveedor externo (Google Analytics, Parsely, comScore y similares) genera una cookie analítica en el dispositivo del usuario. Esta cookie que sólo se genera en la visita, servirá en próximas visitas a los servicios de Soliasq para identificar de forma anónima al visitante. Los objetivos principales que se persiguen son:<br>
Permitir la identificación anónima de los usuarios navegantes a través de la “Cookie” (identifica navegadores y dispositivos, no personas) y por lo tanto la contabilización aproximada del número de visitantes y su tendencia en el tiempo.
		</p>
		<p class="sub-titulo-cookies">
			Identificar de forma anónima los contenidos más visitados y por lo tanto más atractivos para los usuarios.<br> 
		
		<p class="parrafo-cookies">	Saber si el usuario que está accediendo es nuevo o repite visita.<br>


Importante: Salvo que el Usuario decida registrarse en alguna web de Soliasq, la cookie nunca irá asociada a ningún dato de carácter personal que pueda identificarle. Dichas cookies sólo serán utilizadas con propósitos estadísticos a los efectos de recoger métricas sobre el uso de nuestras webs.
		</p>	










<p  class="sub-titulo-cookies">
	Más información sobre la política de privacidad de estas herramientas de analítica en: Google Analytics, Parsely y Comscore.
</p>

<p class="parrafo-cookies">
	Cookies de publicidad: este tipo de cookies permiten ampliar la información de los anuncios mostrados a cada usuario anónimo en las webs de Soliasq. Entre otros, se almacena la duración o frecuencia de visualización de posiciones publicitarias, la interacción con las mismas, o los patrones de navegación y/o comportamientos del usuario ya que ayudan a conformar un perfil de interés publicitario. De este modo, permiten ofrecer publicidad afín a los intereses del usuario.
</p>

<p class="parrafo-cookies">
	Para la gestión de la publicidad de Soliasq SL se utilizan herramientas de servicio de publicidad (Adservers) de terceros. Estos terceros pueden almacenar cookies enviadas desde las webs de Soliasq procedentes de los navegadores de los usuarios, así como acceder a los datos que en ellas se guardan.
</p>

<p  class="sub-titulo-cookies">
	Las empresas que generan estas Cookies tienen sus propias políticas de privacidad.
</p>
<p class="parrafo-cookies">
	En la actualidad, Soliasq utiliza la plataforma Good Ad Manager de Google para gestionar estos servicios. Para más información, acuda a <a href="https://www.google.es/policies/privacy/" target="_blank" class="enlace-cookies"> https://www.google.es/policies/privacy/</a>.
Así mismo, en determinadas páginas, Coca-Cola Company recoge y analiza los datos obtenidos a través de SalesForce, pixel tecnológico para la gestión y el tratamiento de la información del usuario.
</p>

<p class="sub-titulo-cookies">
	Cómo deshabilitar las cookies en el navegador
</p>
<p class="parrafo-cookies">
	La mayoría de navegadores actualmente permiten al usuario configurar si desean aceptar cookies y cuáles de ellas. Este ajuste normalmente se encuentra en las ‘opciones’ o ‘Preferencias’ del menú de su navegador.<br>
Estas son las instrucciones para configurar las cookies en los principales navegadores:<br></p>
<p class="parrafo-cookies">Chrome: </p>
<p class="parrafo-cookies">
	Configuración -> Mostrar opciones avanzadas -> Privacidad -> Configuración de contenido.<br>Para más información, puede consultar el soporte de Google o la Ayuda del navegador.
</p>

<p>Firefox:</p>
<p class="parrafo-cookies">
	Herramientas -> Opciones -> Privacidad -> Historial -> Configuración Personalizada. Para más información, puede consultar el soporte de Mozilla o la Ayuda del navegador.

</p>
<p>Internet Explorer:</p>
<p class="parrafo-cookies">
	Herramientas -> Opciones de Internet -> Privacidad -> Configuración. Para más información, puede consultar el soporte de Microsoft o la Ayuda del navegador.
</p>
 <p>Safari:</p>
 <p class="parrafo-cookies">Preferencias -> Seguridad. Para más información, puede consultar el soporte de Apple o la Ayuda del navegador.
</p>


<p class="sub-titulo-cookies">
	Qué cookies utilizamos en nuestras webs
</p>
<p class="parrafo-cookies">
	A continuación, mostramos una tabla en la que se indican las cookies que utilizamos, diferenciando las propias y las de terceros, así como la finalidad de esas cookies.
</p>

	</div>
	</div>
</body>
</html>